.header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   background-color: white;
   color: black;
   box-shadow: 0 4px 8px rgba(0,0,0,.1); 
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}
.btns button,.hero-container button{
    padding: 12px 28px;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}