.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    padding: 20px;
}
.nav-links a{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}
.btns button{
    padding: 10px 28px;
    border: 0;
    background-color: rgb(241, 75, 46);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* card design */
.card{
    width: 300px;
    height: 200px;
    background-color: lightgreen;
    text-align: center;
    align-content: center;
    margin: 2% auto;
}

.counter{
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;

    margin: 5% auto;
}
.counter button{
    padding: 12px 38px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}